<%= render 'layouts/object_errors', object: @user%>
<div class="form-container">
<%= form_for @user, url: signup_path do |f| %>
  <div class="form-title">Sign Up</div>
  <%= f.label 'Username' %>
  <%= f.text_field :username, placeholder: :username %>
  <%= f.label 'password'%>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.label 'password confirmation'%>
  <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
  <%= f.label 'Profile Photo' %>
  <%= f.file_field :profile_photo %>
  <%= f.label 'Bio'%>
  <%= f.text_area :bio, placeholder: 'Type something about yourself!' %>
  <%= f.submit 'Sign Up'%>
<% end %>
</div>