<%= render 'events/response_bottons', event: event if request.fullpath == profile_path(tab: :pending_events)%>
<%= link_to event, class: 'event-container' do %>
  <%= image_tag(event.event_photo.url, class: 'avatar') if event.event_photo.url %>
  <div><%= event.location %></div>
  <div><%= event.time %></div>
  <div><%= event.title %></div>
  <div><%= event.description %></div>
<% end %>