<div class="form-container">
<%= form_for(:invites, url: invites_path, method: :post) do |f| %>
  <div class="form-title">Invite Users</div>
  <% @all_users.each do |user| %>
    <%= f.hidden_field :id, :value => "#{@event.id}" %>
      <div class="selection-group">
        <%= f.check_box :users, { multiple: true }, user.id, false %>
        <%= link_to "#{user.username}", user %>
      </div>
    <% end %>
    <%= f.submit 'Invite User(s)' %>
<% end %>
</div>
