<div class="form-container">
  <%= form_for @event do |f| %>
    <div class="form-title">Create Event</div>
    <%= f.label 'Title' %>
    <%= f.text_field :title %>
    <%= f.label 'Description' %>
    <%= f.text_area :description %>
    <%= f.label 'Location' %>
    <%= f.text_field :location %>
    <%= f.label 'Date'%>
    <%= select_datetime Date.today, prefix: :datetime %>
    <%= f.label 'Event Photo'%>
    <%= f.file_field :event_photo %>
    <%= f.submit%>
  <% end %>
</div>